@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

@keyframes title {
  0%   {left:0px; top:225px; opacity: 0%;}
  100% {left:0px; top:200px; opacity: 100%;}
}


.glow-button {
    --button-background: #fee5db;
    --button-color: #000;
    --button-shadow: #000;
    --button-shine-left: #000;
    --button-shine-right: #000;
    --button-glow-start: #000;
    --button-glow-end: #000;
    appearance: none;
    outline: none;
    border: none;
    font-family: 'Comfortaa', light;
    font-size: 16px;
    font-weight: 500;
    border-radius: 11px;
    position: relative;
    line-height: 24px;
    cursor: pointer;
    color: var(--button-color);
    padding: 0;
    margin: 0;
    background: none;
    z-index: 1;
    top: 450px;
    box-shadow: 0 8px 20px var(--button-shadow);
}
.glow-button .gradient {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    overflow: hidden;
    mask-image: -webkit-radial-gradient(white, black);
    transform: scaleY(1.02) scaleX(1.005) rotate(-0.35deg);
}
.glow-button .gradient:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: scale(1.05) translateY(-44px) rotate(0deg) translateZ(0);
    padding-bottom: 100%;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--button-shine-left), var(--button-shine-right));
    animation: rotate linear 2s infinite;
}
.glow-button span {
    z-index: 1;
    position: relative;
    display: block;
    padding: 10px 0;
    width: 132px;
    border-radius: inherit;
    background-color: var(--button-background);
    overflow: hidden;
    mask-image: -webkit-radial-gradient(white, black);
}
.glow-button span:before {
    content: '';
    position: absolute;
    left: -16px;
    top: -16px;
    transform: translate(var(--pointer-x, 0px), var(--pointer-y, 0px)) translateZ(0);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--button-glow, transparent);
    opacity: var(--button-glow-opacity, 0);
    transition: opacity var(--button-glow-duration, 0.5s);
    filter: blur(20px);
}
.glow-button:hover {
    --button-glow-opacity: 1;
    --button-glow-duration: 0.25s;
}
@keyframes rotate {
    to {
        transform: scale(1.05) translateY(-44px) rotate(360deg) translateZ(0);
   }
}

body {
  margin:0;
}

h1 {
  font-family: 'Comfortaa', light;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
  animation-name: title;
  animation-duration: 2;
  position: relative;
}
p {
  font-family: 'Comfortaa', light;
  letter-spacing: 1px;
  font-size:14px;
  color: #2b2727;
}


.header {
  position:relative;
  text-align:center;
  background: -webkit-linear-gradient(to right, #3b3535, #2b2727);
  background: linear-gradient(to right, #3b3535, #2b2727);
  color: #fee5db;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
  color: #fee5db;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; 
  min-height:100px;
  max-height:150px;
  color: #fee5db;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)infinite;
  color: #fee5db;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  color: #fee5db;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  color: #fee5db;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  color: #fee5db;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  color: #fee5db;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
   color: #fee5db;
  }
  100% { 
    transform: translate3d(85px,0,0);
    color: #fee5db;
  }
}
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
    color: #fee5db;
  }
  .content {
    height:30vh;
    color: #fee5db;
  }
  h1 {
    font-size:24px;
    color: #fee5db;
  }
}
