@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@keyframes title {
    0%   {left:0px; top:225px; opacity: 0%;}
    100% {left:0px; top:200px; opacity: 100%;}
}
body {
    background-color:  #2b2727;
  }
body::-webkit-scrollbar{
  display: none;
}
  h1 {
    font-size: 75px;
    top: 200px;
    color: White;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    animation-name: title;
    animation-duration: 2s;
    position: relative;   
  }
  h2 {
    opacity: 0%;
    font-size: 45px;
    top: 200px;
    color: White;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    animation-name: title;
    animation-duration: 2s;
    position: relative; 
    animation-delay: 2s;  
    animation-fill-mode: forwards;
  }
  h3 {
    opacity: 0%;
    font-size: 15px;
    color: White;
    font-family: 'Comfortaa', cursive;
    animation-name: title;
    animation-duration: 2s;
    animation-delay: 1s;  
    animation-fill-mode: forwards;
    margin-top: 1000px;
}
