@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
    background-color:  #2b2727;
  }
  body::-webkit-scrollbar{
    display: none;
  }
  h1 {
    font-size: 75px;
    top: 50px;
    color: White;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    position: relative;   
  }
  h2 {
    font-size: 35px;
    top: 25px;
    color: White;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    position: relative;   
  }
  h3 {
    font-size: 20px;
    top: 20px;
    color: White;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    position: relative;   
  }

.clouter {
  margin-top: 200px;
  margin-left: 300px;
  height: 550px;
  width: 350px;
  background-color: #514949;
  border-radius: 10px;
  border: 2px #776c6c solid;
}
img {
  display: block;
  left: 30px;
  top: 40px;
  position: relative;
  border-radius: 10px;
}
.jallow {
  margin-top: -553px;
  margin-left: 800px;
  height: 550px;
  width: 350px;
  background-color: #514949;
  border-radius: 10px;
  border: 2px #776c6c solid;
}