@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
    background-color:  #2b2727;
  }
  body::-webkit-scrollbar{
    display: none;
  }
  h1 {
    font-size: 75px;
    top: 50px;
    color: White;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    position: relative;   
  }
.jallow {
    margin-top: 200px;
    margin-left: 300px;
    height: 550px;
    width: 350px;
    background-color: #514949;
    border-radius: 10px;
    border: 2px #776c6c solid;
}
.clouter {
    margin-top: 200px;
    margin-right: 300px;
    height: 550px;
    width: 350px;
    background-color: #514949;
    border-radius: 10px;
    border: 2px #776c6c solid;
}